@model Glamboyant.Models.AppointmentModels.AppointmentDetail

@{
    ViewBag.Title = "Details";
}

<h2 style="        margin-top: 60px;
        text-align: center;
        color: hotpink;
        font-family: 'Megrim', cursive;
        font-weight:600;
">APPOINTMENT DETAILS</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

            @Html.HiddenFor(model => model.AppointmentID)

        @*<dd>
            @Html.DisplayFor(model => model.AppointmentID)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HairServiceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HairServiceID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.AppointmentID }, new { style = "color:hotpink" }) |
    @Html.ActionLink("Back to List", "Index", null, new { style = "color:hotpink" })
</p>
