@model IEnumerable<Glamboyant.Models.AppointmentModels.AppointmentListItem>

@{
    ViewBag.Title = "Index";
}

<h2 style="        margin-top: 60px;
        text-align: center;
        color: hotpink;
        font-family: 'Megrim', cursive;
        font-weight:600;
">
    APPOINTMENTS
</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { style = "color:hotpink" })
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HairServiceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th></th>
    </tr>*@
<div class="row text-center">
    @foreach (var item in Model)
    {
    <div class="card col-md-4" style="height: 175px; width: 330px; padding: 5px 5px 5px 5px; margin: 1em 1em 1em 1em; box-shadow: 0 0 5px 3px hotpink; margin-right: 45px;">

        @Html.HiddenFor(modelItem => item.AppointmentID)
        <div style="text-align: center; margin-bottom: 5px; color: hotpink; font-family: 'Megrim', cursive; font-weight:600; font-size:30px;">
            @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div style="font-size: 18px;">

                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </div>
            <div style="font-size:18px; margin-bottom:5px;">

                @Html.DisplayFor(modelItem => item.AppointmentTime)
            </div>

            @*<td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.HairServiceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>*@
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = item.AppointmentID }, new { style = "color:hotpink" }) |
                @Html.ActionLink("Details", "Details", new { id = item.AppointmentID }, new { style = "color:hotpink" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AppointmentID }, new { style = "color:hotpink" })
            </div>

        </div>
        }
    </div>
            @*</table>*@
