@model Glamboyant.Models.ReviewModels.ReviewDetail

@{
    ViewBag.Title = "Delete";
}

    <h2 style="        margin-top: 60px;
        text-align: center;
        color: hotpink;
        font-family: 'Megrim', cursive;
        font-weight:600;
">
        DELETE REVIEW
    </h2>

    <h3 style="text-align:center;">Are you sure you want to delete this review?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

            @Html.HiddenFor(model => model.ReviewID)


        @*<dd>
            @Html.DisplayFor(model => model.ReviewID)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
                <input type="submit" style="background-color: hotpink !important; color: white !important;" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index", null, new { style = "color:hotpink" })
            </div>
    }
</div>
