@model IEnumerable<Glamboyant.Models.ReviewModels.ReviewListItem>

@{
    ViewBag.Title = "Index";
}

    <h2 style="        margin-top: 60px;
        text-align: center;
        color: hotpink;
        font-family: 'Megrim', cursive;
        font-weight:600;
">
        REVIEWS
    </h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { style = "color:hotpink" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.ReviewID }, new { style = "color:hotpink" }) |
            @Html.ActionLink("Details", "Details", new {  id=item.ReviewID }, new { style = "color:hotpink" }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.ReviewID }, new { style = "color:hotpink" })
        </td>
    </tr>
}

</table>
