<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Glamboyant</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top" style="background-color: white !important; color: hotpink !important;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Views/Home/Index.cshtml"><img src="~/Assets/GlamboyantLogo.png" class="logo" style="height:80px; width:150px;" /></a>
               @* @Html.ActionLink("Glamboyant", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="color:hotpink !important;">@Html.ActionLink("Home", "Index", "Home", new { Style = "color:hotpink;"})</li>
                    <li style="color: hotpink !important;">@Html.ActionLink("Services", "Index", "HairService", new { Style = "color:hotpink;" })</li>
                    <li style="color: hotpink !important;">@Html.ActionLink("Book Now", "Index", "Appointment", new { Style = "color:hotpink;" })</li>
                    <li style="color:hotpink !important;">@Html.ActionLink("About", "About", "Home", new { Style = "color:hotpink;" })</li>
                    <li style="color:hotpink !important;">@Html.ActionLink("Contact", "Contact", "Home", new { Style = "color:hotpink;" })</li>
                </ul>
                @Html.Partial("_LoginPartial", new { Style = "color:hotpink;" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Glamboyant</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
